.App {
  text-align: center;
}


.title {
  color: #27e3dc !important; /* Bright yellow */
  font-size: 5rem; /* Large title size */
  margin-top: 20px;
  font-family: 'Montserrat', serif !important;
  font-weight: 600;
}

body {
  background-color: #1A1A1D !important;
  color: #ffffff;
  margin: none;
  font-family: 'Poppins', sans-serif;
}


/* Center container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  min-height: 100vh;
  padding: 10px;
}

.flex-container {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Add space between rectangles */
  gap: 40px !important; /* Optional: Set the spacing between rectangles */
  margin: 50px 0; /* Add some space above and below the container */
}


.rectangle {
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Arrange children vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.input-box {
  width: 500px; /* Full width inside the rectangle */
  height: 250px; /* Text area height */
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #e3dede;
  background-color: #1A1A1D;
  color: white;
  font-size: 1rem;
  outline: none;
  resize: none; /* Prevent resizing */

}
.clear {
  margin: 40px;
}

.submit {
  margin: 40px;
}

/* Style button */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submit-btn:hover {
  animation: animate__bounce 1s;
}



/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

.App {
  text-align: center;
}
*/


